# Environments
.env/
.venv/
source/.env/
source/.venv/

# Python builds and caches
source/build/
source/dist/
source/__pycache__/
source/patcher/**/__pycache__/
source/*.spec

# Temporary local app files
main.js
app/
app_original.asar
dist/

# AI agents
.kimchi/